{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Регистрация</h2>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="От 3 до 64 символов") }}
            {% if form.username.errors %}
            {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="example@mail.com") }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Введите пароль") }}
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password2.label }}
            {{ form.password2(class="form-control", placeholder="Повторите пароль") }}
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary btn-block") }}
    </form>
    <p class="auth-link">Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a>
    </p>
</div>
{% endblock %}